:root {
    --primary: #159398;
    --primary-hover: #00A0A6;
    --primary-weak: #D1E4E5;
    --primary-weaker: #D9E7E8;
    --primary-weakest: #F3F9FA;

    --secondary: #FAA836;
    --secondary-weakest: #FFF9F1;

    --destructive: #D42659;
    --destructive-hover: #E32B61;
    --destructive-weake: #EEDADF;
    --destructive-weakesr: #F0E2E6;
    --destructive-weakest: #FDF6F8;

    --dark: #231F20;
    --gray: #878F97;
    --gray-40: #CFD2D5;
    --gray-25: #E1E3E5;
    --gray-10: #F3F4F5;

    --low-contrast: #FBFBFC;
    --light: #FFFFFF;

    --radius-8: 8px;
    --radius-12: 8px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-25: 25px;
    --radius-32: 32px;
    --radius-max: 999px;
    --radius-round: 50%;


    --main-font: Dana
}

body {
    font-family: var(--main-font);
    background-color: var(--low-contrast);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin-bottom: 0;
}

.button {
    padding: 12px 36px 12px 28px;
    background-color: var(--light);
    border: 1px solid var(--gray-25);
    border-radius: 15px;
    width: fit-content;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.button-main {
    font-weight: 600;
    background-color: var(--primary);
    border: none;
    color: #fff;
    min-width: 205px
}



.container {
    padding: 0;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

.border-20 {
    border-radius: var(--radius-20);
    border: 1px solid var(--gray-25);
}

.border-15 {
    border-radius: var(--radius-15);
    border: 1px solid var(--gray-25);
}

.border-max {
    border-radius: var(--radius-max);
    border: 1px solid var(--gray-25);
}

/* Header */
header{
    background-color: var(--light);
}
.navbar-brand span {
    color: var(--dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 14px;
}

.navbar-nav {
    margin-right: 91px;
    margin-left: auto;
}

.nav-link {
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border-bottom: 2px solid transparent;
}

.nav-link.active {
    border-bottom: 2px solid var(--primary);
}




@media (max-width: 576px) {
    .button-main {
        padding: 10px 24px 10px 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
    }

    header .button-main {
        top: 5px;
        left: 24px;
        position: absolute;
    }

    .navbar-toggler {
        margin-left: 28px
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-nav {
        margin-right: 0;
    }

    .nav-item a {
        padding: 16px 24px !important;
        border-top: 1px solid var(--gray-10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        color: var(--dark);
        text-align: right;
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
}


h2 {
    color: var(--dark);
    font-size: 36px;
    font-weight: 800;
    line-height: 56px;
}

h2+p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.img-svg img {
    position: absolute;
}

.img-svg img:first-child {
    top: 100px;
    left: 56px;
    /* transform: translate(-50% , -50%); */
}

.img-svg img:nth-child(2) {
    top: 8px;
    right: 86px;
}

.img-svg img:nth-child(3) {
    width: 107.634px;
    height: 99.8px;
    transform: rotate(-15.281deg);
    flex-shrink: 0;
    left: -50px;
}

.img-svg img:nth-child(5) {
    bottom: -20px;
    left: -50px;
}

.our-goals {
    margin-top: 100px;
    margin-bottom: 136px;
    /* gap: 12px */
}

.our-goals h2 {
    margin-bottom: 44px;
}

.goal-card {
    display: flex;
    padding: 20px 20px 32px 20px;
    flex-direction: column;
    align-items: flex-end;
}

.goal-card p {
    color: var(--dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.goal-card>svg {
    right: -0;
    top: -0
}

.goal-card .svg-2 {
    top: 10px
}

.goal-card .svg-3 {
    top: 30px
}

.goal-card .svg-5 {
    top: 15px
}

.goal-icon {
    border-color: var(--gray-10);
    position: relative;
    z-index: 9;
    background-color: var(--low-contrast);
}

.hasht-id h2 {
    margin-bottom: 44px;
}

.hasht-id-container .row {
    height: 170px
}

.hasht-id-container>div.row:nth-child(2) {
    border-top: 2px solid var(--gray-10);
    border-bottom: 2px solid var(--gray-10);
    /* border: 1px solid var(--gray-25); */
}

.hasht-id-item {
    border-left: 2px solid var(--gray-10);
    padding-left: 20px;
}

.hasht-id-item:last-child {
    border-left: none;
}

.hasht-id-container .count {
    color: var(--dark);
    font-size: 32px;
    font-weight: 700;
    line-height: 54px;
}

.hasht-id-container .count-title {
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.hasht-id-container .count-desc {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.hasht-id-container .row.last {
    height: 120px;
}

.last .hasht-id-item p {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.benefits {
    margin-top: 192px;
}

.benefits>img {
    top: -92px;
    right: 197px;
    width: 211px;
    height: 211px;
}

.benefits ul li {
    padding: 12px;
    gap: 12px;
}

.benefits ul li span {
    width: 8px;
    height: 8px;
    background-color: var(--secondary);
}

@media only screen and (max-width: 576px) {
    h2 {
        font-size: 22px;
        line-height: 38px;
    }

    h2+p {
        font-size: 14px;
        line-height: 26px;
        /* 185.714% */
    }

    .aboutus img {
        max-width: 100%;
    }

    .goal-card {
        padding: 16px;
    }

    .goal-icon {
        padding: 14px !important
    }

    .goal-card>svg {
        left: 0 !important;
        right: auto !important;
        top: 0px !important;
    }

    .goal-card>svg.svg-4 {
        left: 10px !important;
        right: auto !important;
        top: 0px !important;
    }

    .goal-card>svg.svg-1 {
        left: 10px !important;
        right: auto !important;
        top: 0px !important;
    }

    .goal-card p {
        width: 80%;
    }

    .our-goals>div {
        padding: 0
    }

    .hasht-id h2 {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
    }

    .hasht-id-item>div {
        padding: 20px 12px !important;
    }

    .hasht-id-item:nth-child(1),
    .hasht-id-item:nth-child(2) {
        border-bottom: 2px solid var(--gray-10);
    }

    .hasht-id-item:nth-child(odd) {
        border-left: 2px solid var(--gray-10);
    }

    .hasht-id-item:nth-child(even) {
        border-left: none;
    }

    .hasht-id-container .count {
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
    }

    .hasht-id-container .count-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
    }

    .hasht-id-container .count-desc {
        margin-top: .5rem;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }

    .hasht-id-container .row {
        height: fit-content
    }

    .hasht-id-container>div.row:nth-child(2) .hasht-id-item {
        padding: 0 !important
    }

    .hasht-id-container>div.row:nth-child(2) .hasht-id-item>div {
        padding: 16px !important;
    }

    .hasht-id-container>div.row.last {
        height: fit-content;
    }

    .hasht-id-container>div.row.last .hasht-id-item {
        padding: 0 !important
    }

    .hasht-id-container>div.row.last .hasht-id-item p {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 200% */
    }

    .benefits {
        margin-top: 134px;
    }

    .benefits h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 40px;
    }

    .benefits img {
        top: -48px;
        width: 128px;
        height: 128px;
        left: -1.5rem;
        right: auto;
        padding: 0;
    }

    .benefits ul {
        overflow-x: auto;
        width: fit-content;
    }

    .ul-container {
        margin: 0 -1.5rem;
    }
}


/* Footer */
footer {
    border-top: 2px solid var(--gray-10);
    background-color: var(--light);
}

footer>.container>div {
    padding: 54px 0;

}

footer .top {
    border-bottom: 2px solid var(--gray-10);

}

footer div.copyright {
    border-bottom: none;


}

footer .top .right a .logo-container {
    width: 80px;
    height: 80px;
    border-radius: var(--radius-15);
    background: #FFF;
    box-shadow: 0px 8px 75px 0px rgba(39, 42, 61, 0.10);
    margin-left: 28px;
}

footer .top .right a .logo-container img {
    width: 30px;
}

footer .top .right a h6 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}

footer .top .right a span {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .social-media>a {
    width: 56px;
    height: 56px;
    border: 1px solid var(--gray-10);
    background-color: var(--low-contrast);
}

/* main button */



footer .center h3 {
    margin-bottom: 12px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

footer .center ul li {
    margin-bottom: 6px;
}

footer .center ul li a {
    display: inline-block;
    margin-bottom: 4px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .footer-contactus li {
    gap: 12px;
}

footer .footer-contactus li p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

footer>.container>div.bottom {
    padding: 32px;
}

footer .bottom p {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    max-width: 738px;
}

footer .bottom a {
    width: 93px;
    height: 93px;

}

footer .bottom a img {
    width: 100%;
}

footer .copyright {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


@media only screen and (max-width: 576px) {
    footer {
        padding: 24px;
    }

    footer>.container>div {
        padding: 32px 0;
    }

    footer .top {
        padding-top: 0;
    }

    footer .top .right {
        padding: 0;
    }

    footer .top .right a .logo-container {
        width: 58px;
        height: 58px !important;
        margin-left: 12px;
    }

    footer .top .right a .logo-container img {
        width: 22px;
    }

    footer .top .right a h6 {
        font-size: 16px;
        line-height: 28px;
    }

    footer .top .right a span {
        font-size: 14px;
        line-height: 26px;
    }

    footer .top .left {
        padding: 0;
        margin-top: 36px;

    }

    footer .button.button-main {
        width: 100%
    }

    footer .social-media>a {
        width: 48px;
        height: 48px;
    }

    .footer-contactus li {
        margin-bottom: 12px !important;
    }

    .footer-contactus p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .footer-contactus svg {
        flex-shrink: 0;
    }

    footer>.container>div.bottom {
        padding: 20px;
    }

    footer>.container>div.bottom p {
        width: 100%;
        color: var(--dark);
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 16px
    }

    footer>.container>div.bottom a {
        width: 100px;
        height: 100px;
        margin: auto
    }

    footer>.container>div.copyright {
        padding-bottom: 0 !important;
    }

    footer>.container>div.copyright p {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 4px;

    }
}