:root {
    --primary: #159398;
    --primary-hover: #00A0A6;
    --primary-weak: #D1E4E5;
    --primary-weaker: #D9E7E8;
    --primary-weakest: #F3F9FA;

    --secondary: #FAA836;
    --secondary-weakest: #FFF9F1;

    --destructive: #D42659;
    --destructive-hover: #E32B61;
    --destructive-weake: #EEDADF;
    --destructive-weakesr: #F0E2E6;
    --destructive-weakest: #FDF6F8;

    --dark: #231F20;
    --gray: #878F97;
    --gray-40: #CFD2D5;
    --gray-25: #E1E3E5;
    --gray-10: #F3F4F5;

    --low-contrast: #FBFBFC;
    --light: #FFFFFF;

    --radius-8: 8px;
    --radius-12: 8px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-25: 25px;
    --radius-32: 32px;
    --radius-max: 999px;
    --radius-round: 50%;


    --main-font: Dana
}

body {
    font-family: var(--main-font);
    background-color: var(--low-contrast);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin-bottom: 0;
}
.next , .prev{
    cursor: pointer;
}
.button {
    padding: 12px 36px 12px 28px;
    background-color: var(--light);
    border: 1px solid var(--gray-25);
    border-radius: 15px;
    width: fit-content;
    min-width: 205px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.button-main {
    font-weight: 600;
    background-color: var(--primary);
    border: none;
    color: #fff;
    min-width: 205px
}



.container {
    padding: 0;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

.border-20 {
    border-radius: var(--radius-20);
    border: 1px solid var(--gray-25);
}

.border-15 {
    border-radius: var(--radius-15);
    border: 1px solid var(--gray-25);
}

.border-max {
    border-radius: var(--radius-max);
    border: 1px solid var(--gray-25);
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

}
/* Header */
header {
    background-color: var(--light);
}

.navbar-brand {
    gap: 14px;
}

.navbar-brand span {
    color: var(--dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 14px;
}

.navbar-nav {
    margin-right: 91px;
    margin-left: auto;
}

.nav-link {
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border-bottom: 2px solid transparent;
}

.nav-link.active {
    border-bottom: 2px solid var(--primary);
}





@media (max-width: 992px) {
    .button-main {
        padding: 10px 24px 10px 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
    }

    header .button-main {
        top: 5px;
        left: 24px;
        position: absolute;
        background-color: var(--light);
        border: 1px solid var(--gray-25);
        color: var(--dark);
    }
    header .button-main svg {
        width: 22px;
        height: 22px;
    }
    header .button-main svg path{
        fill: var(--dark);
    }

    .navbar-toggler {
        margin-left: 28px
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
.navbar-brand img{
    width:27px
}
    .navbar-nav {
        margin-right: 0;
    }

    .nav-item a {
        padding: 6px 10px !important;

        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        color: var(--dark);
        text-align: right;
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
}

@media (max-width: 576px) {
    .nav-item a {
        border-top: 1px solid var(--gray-10);
        padding: 16px 24px !important;
    }
}
@media only screen and (max-width: 1200px) {
    .button {
        min-width: 100px;
        padding: 8px 20px 8px 18px;
        font-size: 12px;
        line-height: 24px;
    }
}
    main{
        margin-top: 97px;
    }
.last-article-title h1 {
    color: var(--dark);
    text-align: right;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
}

.last-article-title>div {
    border: 1px solid var(--gray-25);
    border-radius: var(--radius-15);
    overflow: hidden;
    width: 266px;
    box-shadow: 0px 4px 24px 0px rgba(39, 42, 61, 0.04);

}

.last-article-title>div input {
    padding: 12px 6px 12px 16px;
    border: none;

    color: var(--gray);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */

}

.last-article-title .input-group-text {
    border: none;
    background-color: transparent;
}

 .card-img {
    width: 100%;
    /* height: 180px; */
    height: auto;
    aspect-ratio: 1.6;
    border-radius: var(--radius-15);
    background-image: url('./asset/image/Image-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
 .card-content{
    padding: 0 20px;
}
 .card-content h4{
    color: var(--dark);
    margin-top: 12px;
    overflow: hidden;
text-align: right;
text-overflow: ellipsis;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 34px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
align-self: stretch;
}
 .card-content p{
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
align-self: stretch;
overflow: hidden;
color: var(--gray);
text-align: right;
text-overflow: ellipsis;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
 .card-content .card-date span:first-child {

    color: var(--gray);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

 .card-content .card-date span:last-child {
    flex-shrink: 0;
    padding: 4px 12px;
    color: var(--gray);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: var(--radius-max);
    border: 1px solid var(--gray-10);
    background: var(--low-contrast);
}

.blog-card .card-date{
   font-size:14px;
   line-height:26px;
}
.blog-card .card-content h4{
   font-size:16px;
   line-height:32px;
}
.blog-card .card-content p{
    display: -webkit-box !important;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
align-self: stretch;
    overflow: hidden;
    color: var(--gray);
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.blog-card{
    gap: 24px;
}
.blog-card .card-img{
    width:266px;
    height: 165px;
    border-radius: var(--radius-15);

    
}
.blog-card .card-img img{
    width:100%;
    object-fit: cover;
    object-position: center;
}
.blog-card .card-content{
    width:100%;
    
}
.categories{
    margin-top: 128px;
}
.catogory-title h2{
    color: var(--dark);
font-size: 36px;
font-weight: 800;
line-height: 56px;
margin-bottom: 12px;
}
.catogory-title p{
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
}
.category{
    margin:40px 0
}
.category-link{
    background-color: transparent;
    border: none;
    margin-left: 28px;
    padding-bottom: 12px;
    color: var(--gray);
font-size: 16px;
font-weight: 400;
line-height: 28px; 
}
.category-link.active{
    color: var(--dark);
    border-bottom: 2px solid var(--primary);
}

.tab-pane>div > div:first-child{
    padding-top: 0 !important
}
.tab-pane>div > div:last-child{
    padding-bottom: 0 !important;
    border-bottom: none;
}
.tab-pane > div >div{
    border-bottom: 2px solid var(--gray-10) ;
}
.tab-pane .card-content p{  
    -webkit-line-clamp: 2;

}
.tab-pane .card-content h4{  
   margin-top: 12px !important;

}
.tab-pane .card-content{  
   width: 677px
}
.tab-pane .card-img{
    width:290px;
    height: 180px;
}
.custom-pagination{
    margin: 116px auto;

}
.page-link{
    align-self: stretch;
    padding:  6px 8px;
    min-width: 38px;
    display: inline-block;
    border: 1px solid var(--gray-25);
    border-radius: var(--radius-8) !important;
    color: var(--gray);
    color: var(--Text-tx-low-contrast, #878F97);
text-align: center;
font-size: 18px;
font-weight: 500;
line-height: 32px;
}
.page-link:hover{
    color: var(--dark);
    
}
.page-link.active{
    color: var(--dark);
    border-color: var(--primary);

}
.pagination li span{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: var(--radius-max);
    background-color: var(--gray-40);
}


@media (max-width:992px){
   
    main.container{
        margin-top: 28px;
        padding: 0 24px;

    }
    .last-article-title >*{
        width: 100% !important
    }
    
    .last-article-title > h1{
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 0 !important;
        margin-top: 20px !important;
        order:2;
    }
    .last-article-right{
        padding-bottom: 24px;
        border-bottom: 2px solid var(--gray-10);
    }
    .categories{
        margin-top: 113px;
    }
    .card-content h4{
        font-size: 16px;
        line-height: 28px;
        overflow:hidden;
        display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
align-self: stretch;
    }
    .card-content p{
        font-size: 14px;
        line-height: 26px;
        -webkit-line-clamp: 2;
    }
    .blog-card .card-content p{
        
        display: none !important;
    }
    .blog-card{
        padding: 24px 0;
        margin-bottom: 0;
        gap: 20px;
    }
    .blog-card:first-child{
        padding-top: 0
    }
    .blog-card .card-img{
        width: 92px;
        height: 92px;
        flex-shrink: 0;
        border-radius: var(--radius-8);
    }
    .card-content .card-date span:first-child{
        font-size: 12px;
        line-height: 24px;
    }
    .blog-card .card-content h4{
        font-size: 14px;
        line-height: 26px;
    }
    .blog-card{
        border-bottom: 2px solid var(--gray-10);
    }
    .tab-pane .card-content{
        width: 100%
    }
    .catogory-title h2{
        font-size: 22px;
        line-height: 38px;
        margin-bottom: 4px;
    }
    .catogory-title p{
        font-size: 14px;
        line-height: 26px;
    }
    .category-link{
        font-size:14px;
        line-height: 26px
    }
    .custom-pagination{
        margin-top: 80px;
        margin-bottom: 72px;
    }
}
@media (max-width: 768px){
    .last-article-title > h1{
        margin-bottom: 46px !important;
    }
    .blog-card{
        padding: 24px 0;
        gap: 20px;
    }
    .blog-card:first-child{
        padding-top: 24px
    }
}

/* Footer */



/* Footer */
footer {
    border-top: 2px solid var(--gray-10);
    background-color: var(--light);
}

footer>.container>div {
    padding: 54px 0;

}

footer .top {
    border-bottom: 2px solid var(--gray-10);

}

footer div.copyright {
    border-bottom: none;


}

footer .top .right span{
    display: inline-block;
    min-width:200px
}
footer .top .right a .logo-container {
    width: 80px;
    height: 80px;
    border-radius: var(--radius-15);
    background: #FFF;
    box-shadow: 0px 8px 75px 0px rgba(39, 42, 61, 0.10);
    margin-left: 28px;
}

footer .top .right a .logo-container img {
    width: 30px;
}

footer .top .right a h6 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}

footer .top .right a span {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .social-media>a {
    width: 56px;
    height: 56px;
    border: 1px solid var(--gray-10);
    background-color: var(--low-contrast);
}

/* main button */



footer .center h3 {
    margin-bottom: 12px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

footer .center ul li {
    margin-bottom: 6px;
}

footer .center ul li a {
    display: inline-block;
    margin-bottom: 4px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .footer-contactus li {
    gap: 12px;
}

footer .footer-contactus li p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

footer>.container>div.bottom {
    padding: 32px;
}

footer .bottom p {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    max-width: 738px;
}

footer .bottom a {
    width: 93px;
    height: 93px;

}

footer .bottom a img {
    width: 100%;
}

footer .copyright {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}



@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 992px) {
    footer {
        padding: 24px;
    }

    footer>.container>div {
        padding: 32px 0;
    }

    footer .top {
        padding-top: 0;
    }

    footer .top .right {
        padding: 0;
    }

    footer .top .right a .logo-container {
        width: 58px;
        height: 58px !important;
        margin-left: 12px;
    }

    footer .top .right a .logo-container img {
        width: 22px;
    }

    footer .top .right a h6 {
        font-size: 16px;
        line-height: 28px;
    }

    footer .top .right a span {
        font-size: 14px;
        line-height: 26px;
    }

    footer .top .left {
        padding: 0;
        margin-top: 36px;

    }

    footer .button.button-main {
        width: 100%
    }

    footer .social-media>a {
        width: 48px;
        height: 48px;
    }

    .footer-contactus li {
        margin-bottom: 12px !important;
    }

    .footer-contactus p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .footer-contactus svg {
        flex-shrink: 0;
    }

    footer>.container>div.bottom {
        padding: 20px;
    }

    footer>.container>div.bottom p {
        width: 100%;
        color: var(--dark);
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 16px;
        text-align: justify;
    }

    footer>.container>div.bottom a {
        width: 100px;
        height: 100px;
        margin: auto
    }

    footer>.container>div.copyright {
        padding-bottom: 0 !important;
    }

    footer>.container>div.copyright p {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 4px;

     }
     .link-footer{
        width: 50%;
     }
     .link-footer h5 , footer h5{
        color: var(--dark);
font-size: 16px;
font-weight: 600;
line-height: 28px; 
     }
     .link-footer ul li{
        color: var(--gray);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        margin-bottom: 8px
     }
}



