:root {
    --primary: #159398;
    --primary-hover: #00A0A6;
    --primary-weak: #D1E4E5;
    --primary-weaker: #D9E7E8;
    --primary-weakest: #F3F9FA;

    --secondary: #FAA836;
    --secondary-weakest: #FFF9F1;

    --destructive: #D42659;
    --destructive-hover: #E32B61;
    --destructive-weake: #EEDADF;
    --destructive-weakesr: #F0E2E6;
    --destructive-weakest: #FDF6F8;

    --dark: #231F20;
    --gray: #878F97;
    --gray-40: #CFD2D5;
    --gray-25: #E1E3E5;
    --gray-10: #F3F4F5;

    --low-contrast: #FBFBFC;
    --light: #FFFFFF;

    --radius-8: 8px;
    --radius-12: 8px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-25: 25px;
    --radius-32: 32px;
    --radius-max: 999px;
    --radius-round: 50%;


    --main-font: Dana
}

body {
    font-family: var(--main-font);
    background-color: var(--low-contrast);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin-bottom: 0;
}

.next,
.prev {
    cursor: pointer;
}

.button {
    padding: 12px 36px 12px 28px;
    background-color: var(--light);
    border: 1px solid var(--gray-25);
    border-radius: 15px;
    width: fit-content;
    min-width: 205px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.button-main {
    font-weight: 600;
    background-color: var(--primary);
    border: none;
    color: #fff;
    min-width: 205px
}



.container {
    padding: 0;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

.border-20 {
    border-radius: var(--radius-20);
    border: 1px solid var(--gray-25);
}

.border-15 {
    border-radius: var(--radius-15);
    border: 1px solid var(--gray-25);
}

.border-max {
    border-radius: var(--radius-max);
    border: 1px solid var(--gray-25);
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

/* Header */
header {
    background-color: var(--light);
}

.navbar-brand {
    gap: 14px;
}

.navbar-brand span {
    color: var(--dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 14px;
}

.navbar-nav {
    margin-right: 91px;
    margin-left: auto;
}

.nav-link {
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border-bottom: 2px solid transparent;
}

.nav-link.active {
    border-bottom: 2px solid var(--primary);
}





@media (max-width: 992px) {
    .button-main {
        padding: 10px 24px 10px 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
    }

    header .button-main {
        top: 5px;
        left: 24px;
        position: absolute;
        background-color: var(--light);
        border: 1px solid var(--gray-25);
        color: var(--dark);
    }
    header .button-main svg {
        width: 22px;
        height: 22px;
    }
    header .button-main svg path{
        fill: var(--dark);
    }

    .navbar-toggler {
        margin-left: 28px
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-brand img{
        width:27px
    }
    .navbar-nav {
        margin-right: 0;
    }

    .nav-item a {
        padding: 6px 10px !important;

        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        color: var(--dark);
        text-align: right;
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
}

@media (max-width: 576px) {
    .nav-item a {
        border-top: 1px solid var(--gray-10);
        padding: 16px 24px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .button {
        min-width: 100px;
        padding: 8px 20px 8px 18px;
        font-size: 12px;
        line-height: 24px;
    }
}

/*-----------TOP BLOG CARD------------*/
main {
    margin-top: 32px;
}

.top-blog-card {

    height: 400px;
    border-radius: var(--radius-15);
    background-image: url('./asset/image/main-Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-blog-card>div {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.05) 100%);
    padding-right: 73px;
    padding-top: 105px;
}

.blog-card-content {
    width: 700px;


}

.blog-card-content .top {
    /* margin-bottom: 16px; */
    height: 40px;
    width: 100%;

}

.blog-card-content .top span:first-child {
    font-size: 16px;
    width: 57px;
    height: 40px;
    color: var(--light);
    border: 1px solid var(--gray-10);
    border-radius: 100px;
    margin-left: 16px;

}

.blog-card-content .top span:last-child {
    font-size: 16px;
    height: 40px;
    color: var(--light);
    opacity: 80%;


}

.blog-card-content .bottom h2 {
    color: var(--light);
    font-size: 32px;
    text-shadow: 0 0 1px var(--dark);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    line-height: 54px;
    font-weight: 700;

}

.blog-card-content .bottom p {
    color: var(--light);
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;

}

.blog-content-container {
    margin-top: 50px;
}

.breadcrumb-item a {
    font-size: 16px;
    color: var(--gray);
}

.breadcrumb-item.active a {
    font-size: 16px;
    color: var(--dark) !important;
}

.blog-content {
    /* margin-top: 36px; */
}

.blog-content .blog-title {
    margin-top: 38px;
    margin-bottom: 12px;
    font-size: 22px;
    color: var(--dark);
    font-weight: 600;
}

.blog-content .blog-text {
    /* margin-bottom: 12px; */
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
    color: var(--dark);
}

.blog-content .blog-img {
    border-radius: var(--radius-15);
    overflow: hidden;

    height: 495px;
    margin-top: 52px;
    margin-bottom: 16px
}

.blog-content .blog-img img {
    object-fit: cover;
    object-position: center;

}

.blog-content br {
    margin: 18px 0
}

.last-news {
    margin-top: 156px;
    margin-bottom: 132px;

}

.last-news h2 {
    color: var(--dark);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    /* 155.556% */
    /* margin-bottom: 64px; */
}

.show-all-link {
    color: var(--dark);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 177.778% */
}

/* .news-cards>div:first-child {
    padding: 0;
    padding-left: 12px;
}

.news-cards>div:nth-child(2) {
    padding: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.news-cards>div:last-child {
    padding: 0;
    padding-right: 12px;
} */
.news-cards {
    transition: 2s
}

.news-cards>div {
    flex-shrink: 0;
    margin-left: 20px;
}

.news-cards .news-img {
    width: fit-content !important;
    height: auto;
    aspect-ratio: 1.6;
}

/*.news-cards .news-img svg{
    width: 100%;
    height: 100%;
     height: auto;
    aspect-ratio: 1.6; 
}*/
/* 
.news-cards .news-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
} */

.news-link {
    width: 70px;
    height: 70px;
    padding: 14px 14px 0 0;


}

.news-link a {
    display: inline-block;
    padding: 14px;
    border-radius: var(--radius-15);
    border: 1px solid var(--gray-25);
    background: var(--light);
    box-shadow: 0px 4px 24px 0px rgba(39, 42, 61, 0.04);
}

.news-date .date {
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.news-date .news-cat {
    display: inline-block;
    padding: 6px 14px;
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    /* 185.714% */
    border-radius: var(--radius-max);
    border: 1px solid var(--gray-10);
    background: var(--low-contrast);
}

.news-title {
    color: var(--dark);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 177.778% */
}

@media (max-width: 992px) {
    .container {
        padding: 0 24px;
    }

    .last-news {
        padding-right: 24px;
        margin-bottom: 94px;
        margin-top: 87px;
    }

    .last-news h2 {
        font-size: 22px;
        line-height: 38px;
    }

    .show-all-link {
        font-size: 14px;
        line-height: 26px;
    }

    .last-news>div:first-child {
        margin-bottom: 24px;
        padding-left: 24px;
    }

    .news-cards>div {
        width: 306px;
        padding-right: 0 !important;
        padding-left: 20px;
    }

    .news-content {
        padding: 0 12px !important
    }

    .news-date .date {
        font-size: 14px;
        line-height: 26px;
    }

    .news-date .news-cat {
        padding: 4px 12px;
        font-size: 12px;
        line-height: 24px;
    }

    .news-title {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
        margin-top: 8px;
    }

    .top-blog-card {
        aspect-ratio: 1.6;
        width: 100%;
        height: auto;
    }

    .top-news-mobile {
        border-bottom: 2px solid var(--gray-10)
    }

    .top-news-mobile .top span:first-child {
        color: var(--dark);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 6px 14px;
        border-radius: var(--radius-max);
    }

    .top-news-mobile .top span:last-child {
        color: var(--gray);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 185.714% */
    }

    .top-news-mobile .bottom h2 {
        color: var(--dark);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 177.778% */
        margin-top: 18px;
        filter: none;
    }

    .top-news-mobile .bottom p {
        color: var(--gray);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 185.714% */
        margin-bottom: 32px;
    }

    .blog-content-container {
        margin-top: 0;
    }

    .blog-content .blog-title {
        font-size: 16px;
        line-height: 28px;
        /* 175% */
    }

    .blog-content .blog-text {
        font-size: 14px;
        line-height: 26px;
        /* 185.714% */
    }

    .blog-content .blog-img {
        aspect-ratio: 1.6;
        width: 100%;
        height: auto;
    }

    .blog-content .blog-img img {
        width: 100%;
    }

    .container>section.last-news {
        padding-right: 24px;
        padding-left: 0;
    }

    .last-news {
        margin-bottom: 94px;
    }

    .last-news h2 {
        font-size: 22px;
        line-height: 38px;
    }

    .show-all-link {
        font-size: 14px;
        line-height: 26px;
    }

    .last-news>div:first-child {
        margin-bottom: 24px;
        padding-left: 24px;
    }

    .news-cards>div {
        width: 306px;
        padding-right: 0 !important;
        padding-left: 20px;
    }

    .news-cards>div svg {
        width: 100%;
        height: 100%
    }

    .news-content {
        padding: 0 12px !important
    }

    .news-date .date {
        font-size: 14px;
        line-height: 26px;
    }

    .news-date .news-cat {
        padding: 4px 12px;
        font-size: 12px;
        line-height: 24px;
    }

    .news-title {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
        margin-top: 8px;
    }

    .news-link {
        width: 54px;
        height: 54px;
        padding: 8px 8px 0 0;
    }

    .news-link a {
        padding: 11px;
    }
}

/* Footer */



/* Footer */
footer {
    border-top: 2px solid var(--gray-10);
    background-color: var(--light);
}

footer>.container>div {
    padding: 54px 0;

}

footer .top {
    border-bottom: 2px solid var(--gray-10);

}

footer div.copyright {
    border-bottom: none;


}

footer .top .right span{
    display: inline-block;
    min-width:200px
}
footer .top .right a .logo-container {
    width: 80px;
    height: 80px;
    border-radius: var(--radius-15);
    background: #FFF;
    box-shadow: 0px 8px 75px 0px rgba(39, 42, 61, 0.10);
    margin-left: 28px;
}

footer .top .right a .logo-container img {
    width: 30px;
}

footer .top .right a h6 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
}

footer .top .right a span {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .social-media>a {
    width: 56px;
    height: 56px;
    border: 1px solid var(--gray-10);
    background-color: var(--low-contrast);
}

/* main button */



footer .center h3 {
    margin-bottom: 12px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

footer .center ul li {
    margin-bottom: 6px;
}

footer .center ul li a {
    display: inline-block;
    margin-bottom: 4px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

footer .footer-contactus li {
    gap: 12px;
}

footer .footer-contactus li p {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

footer>.container>div.bottom {
    padding: 32px;
}

footer .bottom p {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    max-width: 738px;
}

footer .bottom a {
    width: 93px;
    height: 93px;

}

footer .bottom a img {
    width: 100%;
}

footer .copyright {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}



@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 992px) {
    footer {
        padding: 24px;
    }

    footer>.container>div {
        padding: 32px 0;
    }

    footer .top {
        padding-top: 0;
    }

    footer .top .right {
        padding: 0;
    }

    footer .top .right a .logo-container {
        width: 58px;
        height: 58px !important;
        margin-left: 12px;
    }

    footer .top .right a .logo-container img {
        width: 22px;
    }

    footer .top .right a h6 {
        font-size: 16px;
        line-height: 28px;
    }

    footer .top .right a span {
        font-size: 14px;
        line-height: 26px;
    }

    footer .top .left {
        padding: 0;
        margin-top: 36px;

    }

    footer .button.button-main {
        width: 100%
    }

    footer .social-media>a {
        width: 48px;
        height: 48px;
    }

    .footer-contactus li {
        margin-bottom: 12px !important;
    }

    .footer-contactus p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .footer-contactus svg {
        flex-shrink: 0;
    }

    footer>.container>div.bottom {
        padding: 20px;
    }

    footer>.container>div.bottom p {
        width: 100%;
        color: var(--dark);
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 16px;
        text-align: justify;
    }

    footer>.container>div.bottom a {
        width: 100px;
        height: 100px;
        margin: auto
    }

    footer>.container>div.copyright {
        padding-bottom: 0 !important;
    }

    footer>.container>div.copyright p {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 4px;

     }
     .link-footer{
        width: 50%;
     }
     .link-footer h5 , footer h5{
        color: var(--dark);
font-size: 16px;
font-weight: 600;
line-height: 28px; 
     }
     .link-footer ul li{
        color: var(--gray);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        margin-bottom: 8px
     }
}



